body {
  margin: 20px;
  padding: 10px;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  text-align: left;
}

button {
  background-color: rgb(250, 23, 23); 
  color: white;
  text-align: center;
  font-size: 16px;
  width: 25%;
  
}


h1{
  font-style: oblique;
  font-size: 50px;
  color: rgb(15, 29, 228);
}

h4{
  font-size: 20px;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}